
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <f:if condition="{logoortext} == 'TextHeader'" >
            <h1><a href="{textlink}" class="navbar-brand scrollto">{textheader}</a></h1>
        </f:if>
        <f:if condition="{logoortext} == 'LogoImage'" >      
            <a href="{textlink}" class="navbar-brand scrollto"><img src="{logopath}" alt="" class="headerlogo"></a>  
        </f:if> 

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">

                <f:for each="{mainnavigation}" as="mainItem">
                
                        <f:for each="{mainItem.records}" as="ankerItem">
                            <f:if condition="{ankerItem.data.tx_altaah1package_indropmenu} == 1">
                                {f:variable(name: "activerecords", value: "3")}
                            </f:if>
                            <f:if condition="{ankerItem.data.tx_altaah1package_inmainmenu} == 1">
                                {f:variable(name: "activerecordsmain", value: "2")}
                            </f:if>
                        </f:for>
                        <f:for each="{mainItem.children}" as="subItem">
                            <f:if condition="{subItem.data.nav_hide} == 0">
                                {f:variable(name: "activechild", value: "1")}
                            </f:if>
                        </f:for>
                        <f:if condition="{activerecords} || {activechild}">

                            <f:then>
                                <li class="dropdown">
                                    <a href="{mainItem.link}#top" data-bs-toggle="dropdown" aria-expanded="false" class="nav-linktypo3 dropdown-toggle <f:if condition='{mainItem.active}'>typo3active</f:if>">
                                        <f:if condition='{mainItem.data.tx_altaah1package_dropheader}'>
                                            <f:then><span>{mainItem.data.tx_altaah1package_dropheader}</span></f:then>
                                            <f:else><span>{mainItem.title}</span></f:else>
                                        </f:if>
                                        <i class="bi bi-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{mainItem.link}#top" class="dropdown-item <f:if condition='{mainItem.current}'>typo3active</f:if>">
                                                {mainItem.title}
                                            </a>
                                        </li>
                                        <f:for each="{mainItem.records}" as="ankerItem">
                                            <f:if condition="{ankerItem.data.tx_altaah1package_indropmenu} == 1">
                                                <li>
                                                    <a href="{mainItem.link}#c{ankerItem.data.uid}" class="dropdown-item scrollto">
                                                        <f:if condition='{ankerItem.data.tx_altaah1package_nav_title}'>
                                                            <f:then><span>{ankerItem.data.tx_altaah1package_nav_title}</span></f:then>
                                                            <f:else><span>{ankerItem.data.header}</span></f:else>
                                                        </f:if>  
                                                    </a>
                                                </li>
                                            </f:if>
                                        </f:for>
                                        <f:for each="{mainItem.children}" as="subItem">
                                            <f:if condition="{subItem.data.nav_hide} == 0">
                                                <li>
                                                    <a href="{subItem.link}" class="dropdown-item <f:if condition='{subItem.current}'>typo3active</f:if>">
                                                            <span>{subItem.title}</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                        </f:for>
                                    </ul>
                                </li>
                                <f:for each="{mainItem.records}" as="ankerItem">
                                    <f:if condition="{ankerItem.data.tx_altaah1package_inmainmenu} == 1">
                                        <li class="nav-item">
                                            <a href="<f:if condition='{mainItem.current} != 1'>{mainItem.link}</f:if>#c{ankerItem.data.uid}" class="nav-link scrollto">
                                                <f:if condition='{ankerItem.data.tx_altaah1package_nav_title}'>
                                                    <f:then><span>{ankerItem.data.tx_altaah1package_nav_title}</span></f:then>
                                                    <f:else><span>{ankerItem.data.header}</span></f:else>
                                                </f:if> 
                                            </a>
                                        </li>
                                    </f:if>
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:if condition="{mainItem.data.nav_hide} == 0">
                                    <li class="nav-item">
                                        <a href="{mainItem.link}" class="nav-link scrollto <f:if condition='{mainItem.current} == 1'>typo3active</f:if>">
                                            {mainItem.title}
                                        </a>
                                    </li>
                                </f:if>
                                <f:for each="{mainItem.records}" as="ankerItem">
                                    <f:if condition="{ankerItem.data.tx_altaah1package_inmainmenu} == 1">
                                        <li class="nav-item">
                                            <a href="<f:if condition='{mainItem.current} != 1'>{mainItem.link}</f:if>#c{ankerItem.data.uid}" class="nav-link scrollto">
                                                {ankerItem.data.header}
                                            </a>
                                        </li>
                                    </f:if>
                                </f:for>
                            </f:else>
                        </f:if>
                  
                    {f:variable(name: "activerecordsmain", value: "")}
                    {f:variable(name: "activerecords", value: "")}
                    {f:variable(name: "activechild", value: "")}

                </f:for>

            </ul>
        </div>
    </div>
</nav>


	



<f:render section="Main" />
