<!--Sub Menu-->
<f:for each="{mainItem.children}" as="subItem">
    <f:if condition="{subItem.children} || {subItem.records}">

        <f:then>
            <li class="dropdown">
                <a href="{subItem.link}" data-bs-toggle="dropdown" aria-expanded="false"
                    class="nav-link dropdown-toggle <f:if condition='{subItem.active}'>active</f:if>"><span>{subItem.title}</span>
                    <i class="bi bi-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{subItem.link}" class="dropdown-item">{subItem.title}</a></li>
                    <f:for each="{subItem.records}" as="ankerItem">
                        <li><a href="{subItem.link}#c{ankerItem.data.uid}" class="dropdown-item">{ankerItem.data.header}</a>
                        </li>
                    </f:for>
                    <f:for each="{subItem.children}" as="ankerItem">
                        <li><a href="{subItem.link}#c{ankerItem.data.uid}" class="dropdown-item">{ankerItem.data.header}</a>
                        </li>
                    </f:for>       
                </ul>
            </li>
        </f:then>
        <f:else>
            <li>
                <a href="{subItem.link}"
                    class="dropdown-item <f:if condition='{subItem.active}'>active</f:if>">{subItem.title}</a>
            </li>
        </f:else>
    </f:if>
</f:for>

<!-- End Sub Menu -->