@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
}
body, html {
  height: 100%;
}

body {
  position: relative;
}

@media screen and (min-width: 992px) {
.containerfullscreen {
  height: 100%;
  overflow: auto;
  }
}
.headerlogo {
  max-height: 50px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

section {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .headerlogo {
    max-height:40px;
  }
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.typo3active {
  color: #fff;
}

.dropdown-menu {
    
    padding: 0.0rem 0;  
    border-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    border-color: black;
    border-style: groove;
    border-width: 5px;
}


.dropdown-item.typo3active {
    color: #fff;
    text-decoration: none;
    background-color: darkgray;
}

.dropdown-item.active {
    color: black;
    text-decoration: none;
    background-color: lightgray;
}

.nav-linktypo3 {
  display: block;
  padding: 0.5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


.navbar-nav .nav-linktypo3 {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-linktypo3 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  }
}

.navbar-dark .navbar-nav .nav-linktypo3 {
  color: rgba(255, 255, 255, 0.55);
}


.navbar-dark .navbar-nav .nav-linktypo3:hover, .navbar-dark .navbar-nav .nav-linktypo3:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .show > .nav-linktypo3, .navbar-dark .navbar-nav .nav-linktypo3.typo3active {
  color: #fff;
}

.frame-space-before-padding-extra-small { padding-top: 1em; }
.frame-space-before-padding-small { padding-top: 2em; }
.frame-space-before-padding-medium { padding-top: 3em; }
.frame-space-before-padding-large { padding-top: 4em; }
.frame-space-before-padding-extra-large { padding-top: 5em; }

.frame-space-after-padding-extra-small { padding-bottom: 1em; }
.frame-space-after-padding-small { padding-bottom: 2em; }
.frame-space-after-padding-medium { padding-bottom: 3em; }
.frame-space-after-padding-large { padding-bottom: 4em; }
.frame-space-after-padding-extra-large { padding-bottom: 5em; }


.altaahcont {
  position: relative;
}

.altaahimage {
  display: block;
  width: 100%;
  height: auto;
}

.altaahoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.altaahcont:hover .altaahoverlay {
  opacity: 0.9;
}

.altaahtext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


















